*.pyc
.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/

# For PyCharm users
.idea/

# Virtual environment directories
venv/
env/
ENV/

# Python virtual environment specific files
*.py[cod]
__pycache__/
pyvenv.cfg
pip-log.txt
pip-delete-this-directory.txt